*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif; 
    margin: 15px 20px;
    font-size: 20px;
    padding: 10px;
}

.main {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid gray;
    border-radius: 3px;
}

.main_heading {
    text-align: center;
}

input[type="text"],
input[type="radio"],
textarea,
select,
input[type="email"],
input[type="number"], 
input[type="date"],
input[type="password"] {
    width: auto;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 3px;
}

.pay {
    text-align: center;
    padding: 5px;
}

input[type="submit"] {
    padding: 5px;
    
}

input[type="radio"] {
    cursor: grab;
}